@charset 'UTF-8';

@import 'base/colors';
@import 'base/typography';

a {
  text-decoration: none;
  color: red;
}

a:visited {
  color: red;
}

.button {
  box-shadow: 3px 4px 0 0 #8a2a21;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0 1px 0 #810e05;
}

.button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}

.button:active {
  position: relative;
  top: 1px;
}

.title {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
  border: 4px solid #949494;
  border-radius: 20px;
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 700px;
  color: red;
  font-size: 42px;

  div {
    margin-top: 5px;

    .button {
      margin-left: 10px;
    }
  }
}

.buttons {
  margin: 0 auto;
  height: 50px;
  margin-bottom: 20px;
  width: 686px;
  text-align: left;
}

table.scoresheet {
  margin: 0 auto;
  width: 80%;
  font-size: 12px;
  border: 1px solid;
  text-align: center;
  table-layout: fixed;
  margin-bottom: 40px;

  th,
  tr,
  td {
    padding: 0;
    vertical-align: middle;
    font-weight: bold;
  }

  th {
    border-bottom: 1px solid;
    background-color: red;
    height: 30px;
  }

  th:not(:last-child) {
    border-right: 1px solid;
  }

  tr {
    td {
      height: 30px;
      background: rgba(255, 255, 255, 0.5);
    }

    td:not(:last-child) {
      border-right: 1px solid;
    }
  }

  tr:nth-child(2) {
    td:nth-child(even) {
      border-bottom: 1px solid;
    }

    td:last-child {
      border-bottom: 1px solid;
    }
  }
}

.game_over {
  margin: 0 auto;
  color: red;
  background: rgba(255, 255, 255, 0.6);
  border: 4px solid #949494;
  border-radius: 20px;
  padding: 15px;
  width: 700px;
}
